<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- stomp -->
    <title>RandomChat</title>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
</head>
<body>
    <input id="roomCode" type="text"/>
    <button id="getRoomCode" onclick="getRoomCode()">Get Room Code</button>
    <button id="connect" onclick="connect()">Connect</button>
    <input id="message" type="text">
    <button id="send" onclick="sendMessage()">Send</button>
    <div id="messages"></div>
    <script src="chat-room.js"/>
</body>
</html>